debug show debug form = false = F1 
generation / planet logic pause update = false 
enable rasterizer rasterization = true 
show rasterizer contents = false 
fullscreen = false = F 
pause render prepare = false 
enable culling = true 
parallelize render prepare = true 
enable rasterizer culling = true 
sort renderables = true 
walk on planet = false = G 
reload all shaders = false 
debug draw lines = false = F11 
shadows enabled = false 
enable post process effects = false 
debug draw mesh bouding boxes = false = F8 
debug draw normal buffer contents = false = F10 
debug draw gbuffer contents = false = F12 
fps throttling enabled = true 
planet segments pause subdivision and visibility updates = false 
segment stop recursion at world size = 100 
segment number of vertices on edge = 50 
segment subdivide if size on screen is bigger than = 0.3 
renderer render only front of triangles = true 
target fps = 60 
limit generation by frame rate = false 
limit generation by fps = true 