
debug show debug form = False = F1 
generation / planet logic pause update = False 
enable rasterizer rasterization = True 
show rasterizer contents = False 
fullscreen = False = F
pause render prepare = False 
enable culling = True 
parallelize render prepare = True 
enable rasterizer culling = True 
sort renderables = True 
walk on planet = False = G 
reload all shaders = False 
debug draw lines = False = F11
shadows enabled = False 
enable post process effects = False 
debug draw mesh bouding boxes = False = F8
debug draw normal buffer contents = False = F10
debug draw gbuffer contents = False = F12
fps throttling enabled = True 
